.heading{
  .title{
    color: $black;
    span{
      position: relative;
      color: $accent-1;
      &::before{
        content: '';
        background: url(../media/vector/bottom-line.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
        bottom: -10px;
      }
    }
  }
}
.eyebrow{
  color: $accent-1; 
  text-transform: uppercase;
  margin-bottom: 8px;
  @include media-query(767px) {
    margin-bottom: 4px;
  }
  @include media-query(575px) {
    margin-bottom: 0px;
  }
}
