.pagination{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 4px;
    justify-content: center;
    li{
        border-radius: 5px;
        background: transparent;
        a>i,
        a{
            width: clamp(42px, 2.5vw, 64px);
            height: clamp(42px, 2.5vw, 64px);
            display: grid;
            align-content: center;
            justify-content: center;
            font-size: clamp(20px, 1.25vw, 28px);
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.025vw;
            @include media-query(1199px) {
                font-size: clamp(18px, 2vw, 24px);
            }
            @include media-query(991px) {
                font-size: clamp(16px, 2.5vw, 22px);
            }
            @include media-query(767px) {
                font-size: clamp(16px, 3.1vw, 20px);
            }
            @include media-query(575px) {
                font-size: clamp(14px, 5vw, 20px);
                width: clamp(32px, 2.5vw, 42px);
                height: clamp(32px, 2.5vw, 42px);
            }
        }
        &.prev, &.next{
            background: $lightest-gray;
        }
        &.active,
        &:hover{
            background: $accent-1;
            transition: $transition;
            a{
                color: $white;
                transition: $transition;
            }
        }
    }
}