.category-card-1{
    position: relative;
    border-radius: 30px;
    border: 1px solid $white;
    background: url(../media/bg/cc-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .title{
        position: relative;
        z-index: 2;
        padding-top: 0.781vw;
        &.h4{
            @include short-query(992px , 1199px) {
                font-size: 2.5vw;
            }
            @include short-query(767px , 991px) {
                font-size: 4vw;
            }
            @include short-query(575px , 767px) {
                font-size: 4.5vw;
            }
        }
    }
    .img-block{
        img{
            margin: 0.781vw auto;
            width: 21.563vw;
            @include short-query(575px , 991px) {
                width: 40vw;
                margin: 5vw auto;
            }
            @include media-query(575px) {
                width: 65vw;
                margin: 5vw auto;
            }
        }
    }
    .title-bg-vec{
        width: 23.281vw;
        position: absolute;
        z-index: 1;
        bottom: -1px;
        left: 50%;
        transform: translate(-50%, 0);
        @include short-query(575px , 991px) {
            width: 40vw;
        }
        @include media-query(575px) {
            width: 83vw;
        }
        @include media-query(375px) {
            width: 75vw;
        }
    }

}
.category-card-2{
    background: url(../media/bg/category-card-2-bg-1.png);
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 0 30px 30px;
    padding: 9.5vw 0.833vw 3.33vw;
    &.card-2-bg{
        background: url(../media/bg/category-card-2-bg-2.png);
        background-size: 100%;
        background-position: top right;
        background-repeat: no-repeat;
    }
    &.card-3-bg{
        background: url(../media/bg/category-card-2-bg-4.png);
        background-size: 100%;
        background-position: top right;
        background-repeat: no-repeat;
    }
    &.card-4-bg{
        background: url(../media/bg/category-card-2-bg-3.png);
        background-size: 100%;
        background-position: top right;
        background-repeat: no-repeat;
    }
    @include media-query(1199px) {
        padding: 14.5vw 16px 4.33vw;
    }
    @include media-query(991px) {
        padding: 16.5vw 12px 4.1vw;
    }
    @include media-query(767px) {
        padding: 20.5vw 12px 4.5vw;
    }
    @include media-query(575px) {
        padding: 32.5vw 12px 8.5vw;
    }
    &:hover{
        .category-img{
            transform: scale(0.95);
            transition: $transition;
        }
    }
    .category-img{
         transition: $transition;
        position: absolute;
        top: 0.625vw;
        right: 0.625vw;
        width: 11.042vw;
        height: 11.042vw;
        filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
        @include media-query(1199px) {
            width: 18.5vw;
            height: 18.5vw;
            top: 0.7vw;
            right: 0.7vw;
        }
        @include media-query(767px) {
            width: 17.5vw;
            height: 17.5vw;
            top: 0.85vw;
            right: 0.85vw;
        }
        @include media-query(575px) {
            width: 34.5vw;
            height: 34.5vw;
            top: 2.85vw;
            right: 2.85vw;
        }
       
    }
    .content{
        .title{
            margin-bottom: 0.833vw;
        }
        .desc{
            margin-bottom: 1.667vw;
            @include short-query(575px , 767px) {
                display: none;     
            }
        }
    }
}