.product-card{
    padding: 1.667vw 1.25vw;
    border-radius: 30px;
    border: 1px solid $white;
    background: url(../media/vector/doots-card.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $light-gray;
    box-shadow: $shadow;
    width: 100%;
    position: relative;
    @include media-query(1599px) {
        border-radius: 20px;
    }
    @include media-query(991px) {
        padding: 2vw;
    }
    @include media-query(767px) {
        padding: 3vw;
    }
    @include media-query(575px) {
        padding: 5vw 4.5vw;
    }
    .product-img{
        filter: drop-shadow(0px 10px 30px #00000040);
        img{
            -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
        }
    }
    .title{
        margin-bottom: 16px;
        @include media-query(1399px) {
            margin-bottom: 12px;
        }
    }
    .desc{
        margin-bottom: 48px;
        @include media-query(1599px) {
            margin-bottom: 42px;
        }
        @include media-query(1399px) {
            margin-bottom: 36px;
        }
        @include media-query(1199px) {
            margin-bottom: 32px;
        }
    }
    .action-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-cart{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
    .remove-from-wishlist-btn{
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: 50;
        i{
           color: $black;
           font-size: 32px; 
        }
    }
    &:hover{
        .product-img{
            img{
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
        }
    }
}

.product-card-2{
    background: url(../media/vector/doots-card-2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 8px rgba(151, 151, 151, 0.25));
    stroke-width: 1px;
    stroke: $light-gray;
    border-radius: 0 0 30px 30px;
    padding: 1.667vw 1.25vw;
    @include media-query(991px) {
        padding: 2vw;
    }
    @include media-query(767px) {
        padding: 3vw;
    }
    @include media-query(575px) {
        padding: 5vw 4.5vw;
    }
    .product-img{
        filter: drop-shadow(0px 10px 30px #00000040);
        @include media-query(575px) {
            padding: 24px;
        } 
        img{
            -webkit-transition: all 0.6s linear 0s;
            transition: all 0.6s linear 0s;
            @include media-query-min(1199px) {
                width: 16.25vw;
            }
        }
    }
    .title{
        margin-bottom: 16px;
        @include media-query(1399px) {
            margin-bottom: 12px;
        }
    }
    .desc{
        margin-bottom: 48px;
        @include media-query(1599px) {
            margin-bottom: 42px;
        }
        @include media-query(1399px) {
            margin-bottom: 36px;
        }
        @include media-query(1199px) {
            margin-bottom: 32px;
        }
    }
    .action-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-cart{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
    &:hover{
        .product-img{
            img{
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
        }
    }
}

.product-list-card{
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 1px solid $white;
    background: url(../media/bg/product-list-card-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $light-gray;
    box-shadow: 0px 4px 8px 0px rgba(151, 151, 151, 0.25);
    width: 100%;
    .price{
        padding-bottom: 24px;
        border-bottom: 1px solid $light-gray;
    }
    .product-img{
        filter: drop-shadow(0px 10px 30px #00000040);
        img{
            -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
        }
    }
    .title{
        margin-bottom: 16px;
        @include media-query(1399px) {
            margin-bottom: 12px;
        }
    }
    .rating{
        display: flex;
        align-items: center;
        gap: 4px;
        @include media-query(767px) {
            justify-content: center;
        }
        i{
            width: 24px;
            height: 24px;
            display: grid;
            justify-content: center;
            align-content: center;
            color: $accent-1;
            font-size: 18px;
        }
    }
    .action-block{
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        @include media-query(767px) {
            justify-content: center;
        }
        .price-cart{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
    &:hover{
        .product-img{
            img{
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
        }
    }
}